In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("test") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/03/03 14:20:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
base_path = "../data/raw/fhv/2019/"

# file_path = base_path + "*/" + "*.csv.gz"
file_path = "../data/raw/fhv/2019/10/fhv_tripdata_2019_10.csv.gz"
df_oct_2019 = spark.read.csv(file_path, header=True, inferSchema=True)

df_oct_2019.printSchema()
df_oct_2019.show()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   null|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   null|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   null|                B00014|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   null|       B00021         |
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   null|       B00021         |
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   null|       B00021         |
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   null|       B00021         |
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   null|       B00021         |
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   null|       B00021         |
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   null|                B00037|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   null|                B00037|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   null|                B00037|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   null|                B00037|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   null|                B00037|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   null|                B00037|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   null|                B00037|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   null|                B00037|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   null|                  #N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [8]:
df_repartitioned = df_oct_2019.repartition(6)

In [9]:
df_repartitioned.write.parquet('../data/pq/fhv/2019/10/')

In [16]:
df_repartitioned.createOrReplaceTempView('oct_2019')

In [17]:
spark.sql("""
SELECT count(1)
FROM oct_2019
WHERE DATE(pickup_datetime) = '2019-10-15'
""").show()

+--------+
|count(1)|
+--------+
|   62610|
+--------+

In [22]:
spark.sql("""
SELECT date(pickup_datetime) AS trip_date, 
       MAX((unix_timestamp(dropOff_datetime) - unix_timestamp(pickup_datetime)) / 3600.0) AS longest_trip_hours
FROM oct_2019
GROUP BY date(pickup_datetime)
ORDER BY longest_trip_hours DESC
""").show()

+----------+------------------+
| trip_date|longest_trip_hours|
+----------+------------------+
|2019-10-28|     631152.500000|
|2019-10-11|     631152.500000|
|2019-10-31|      87672.440833|
|2019-10-01|      70128.028056|
|2019-10-17|       8794.000000|
|2019-10-26|       8784.166667|
|2019-10-30|       1464.534444|
|2019-10-25|       1056.826667|
|2019-10-02|        769.231389|
|2019-10-23|        745.616667|
|2019-10-03|        745.382500|
|2019-10-04|        744.616667|
|2019-10-07|        744.166667|
|2019-10-05|        697.180833|
|2019-10-06|        674.007778|
|2019-10-08|        625.082222|
|2019-10-16|        604.066667|
|2019-10-09|        601.310278|
|2019-10-10|        577.388889|
|2019-10-12|        528.912500|
+----------+------------------+
only showing top 20 rows

In [23]:
!wget "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv"

--2024-03-03 14:48:16--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240303%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240303T144816Z&X-Amz-Expires=300&X-Amz-Signature=fa81ac9170921bfe2014bf89354d051f6a2a7f2c6712344799101b37cf26be1b&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2024-03-03 14:48:16--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240303%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240303T144816Z&X-Amz-Expires=300&X-Amz-Signature=fa81ac9170921bfe2014bf89354d051f6a2a7f2c6712344799101b37cf26be1b&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-03-03 14:48:17 (48.4 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [25]:
df_zone_lookup = spark.read.csv("../data/raw/fhv/taxi_zone_lookup.csv", header=True, inferSchema=True)
df_zone_lookup.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [31]:
df_joined = df_repartitioned.join(df_zone_lookup, df_repartitioned.PUlocationID == df_zone_lookup.LocationID, "left_outer")
df_joined.show()
df_joined.createOrReplaceTempView("joined_data")

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+---------+----------------+------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|LocationID|  Borough|            Zone|service_zone|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+---------+----------------+------------+
|              B02653|2019-10-08 13:53:21|2019-10-08 13:56:24|         264|         247|   null|                B02653|       264|  Unknown|              NV|         N/A|
|              B00837|2019-10-12 08:20:51|2019-10-12 08:32:35|         264|         264|   null|                B00837|       264|  Unknown|              NV|         N/A|
|              B01315|2019-10-05 15:13:04|2019-10-05 15:19:48|         264|          74|   null|                B01315|       264|  Unknown|              NV|         N/A|
|              B00789|2019-10-23 00:56:36|2019-10-23 01:33:24|         264|         264|   null|                B00789|       264|  Unknown|              NV|         N/A|
|              B00937|2019-10-18 11:03:47|2019-10-18 11:22:46|         264|          75|   null|                B00937|       264|  Unknown|              NV|         N/A|
|              B03060|2019-10-18 16:31:09|2019-10-18 16:35:05|         264|          22|   null|                B02825|       264|  Unknown|              NV|         N/A|
|              B03033|2019-10-20 02:59:38|2019-10-20 03:04:52|         264|          36|   null|                B03033|       264|  Unknown|              NV|         N/A|
|              B01231|2019-10-11 13:19:24|2019-10-11 14:04:19|         264|          17|   null|                B02872|       264|  Unknown|              NV|         N/A|
|              B02688|2019-10-02 10:59:00|2019-10-02 11:34:46|         264|         107|   null|                B02688|       264|  Unknown|              NV|         N/A|
|              B01029|2019-10-10 14:45:00|2019-10-10 15:47:00|         264|         264|   null|                B01029|       264|  Unknown|              NV|         N/A|
|              B00531|2019-10-19 16:31:08|2019-10-19 16:42:32|          22|          21|   null|                B00531|        22| Brooklyn|Bensonhurst West|   Boro Zone|
|              B02795|2019-10-13 14:09:00|2019-10-13 16:02:57|         222|          47|   null|                B02795|       222| Brooklyn|   Starrett City|   Boro Zone|
|              B01194|2019-10-19 23:05:22|2019-10-19 23:15:58|         264|          36|   null|                B01194|       264|  Unknown|              NV|         N/A|
|              B01367|2019-10-15 07:26:39|2019-10-15 09:02:33|         137|         265|   null|                B01367|       137|Manhattan|        Kips Bay| Yellow Zone|
|              B02138|2019-10-06 14:02:19|2019-10-06 14:14:22|         264|          14|   null|                B02138|       264|  Unknown|              NV|         N/A|
|              B00111|2019-10-10 21:55:00|2019-10-10 22:34:46|         264|         230|   null|                B00111|       264|  Unknown|              NV|         N/A|
|              B02472|2019-10-16 14:12:36|2019-10-16 14:35:00|         264|         157|   null|                B02472|       264|  Unknown|              NV|         N/A|
|              B01239|2019-10-13 07:53:40|2019-10-13 07:57:16|         264|         254|   null|                B02872|       264|  Unknown|              NV|         N/A|
|              B03016|2019-10-07 13:50:21|2019-10-07 14:01:25|         264|         265|   null|                B02871|       264|  Unknown|              NV|         N/A|
|              B02111|2019-10-08 14:58:52|2019-10-08 15:40:41|          98|          79|   null|                B02111|        98|   Queens|   Fresh Meadows|   Boro Zone|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+---------+----------------+------------+
only showing top 20 rows

In [34]:
spark.sql("""
SELECT Zone, COUNT(Zone) as Count
FROM joined_data
GROUP BY Zone
ORDER BY Count ASC
LIMIT 3
""").show()

+---------------+-------+
|           Zone|  Count|
+---------------+-------+
|             NV|1500773|
|       Flushing|  12183|
|Jackson Heights|  10952|
+---------------+-------+